@*   Index DONOR   *@

@model IEnumerable<DonareSange.Models.Donor>

@{
    ViewBag.Title = "Index";
}



<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>

    </div>
</nav>

<div>
    <p><a href="@Url.Action("Create", "Donors")" class="btn btn-primary btn-lg" style="background-color:red">Create New</a></p>
</div>
<div class="container">
    <h3>Basic Navbar Example</h3>
    <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>



<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        
            <a class="btn btn-default" href="@Url.Action("Index", "Home")" class="elements">
                <span class="glyphicon glyphicon-user">asdasda</span>
            </a>
        
        @*<p><a class="btn btn-default" href="~/Views/Home/Index.cshtml">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-6">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DonorId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DonorId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DonorId })
                </td>
            </tr>
        }

    </table>*@
