@model DonareSange.Models.DoctorData
@{
    ViewBag.Title = "Doctor";
}
<div class="bigDiv">
    <table class="table">
        <tr>
            <th>Clinic</th>
            <th>Center</th>
            <th>State</th>
            <th>Platelets</th>
            <th>Red Cells</th>
            <th>Plasma</th>
            <th>Quantity</th>
            <th>Pacient</th>
        </tr>
        @foreach (var item in Model.requests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idClinica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCentru)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.state)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trombocite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.globuleRosii)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.plasma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantitate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPacient)
                </td>
            </tr>
        }
    </table>
    <table class="table">
        <tr>
            <th>Clinic</th>
            <th>Center</th>
            <th>State</th>
            <th>Platelets</th>
            <th>Red Cells</th>
            <th>Plasma</th>
            <th>Quantity</th>
            <th>Pacient</th>
        </tr>
    </table>

</div>
@Html.ActionLink("aa", "Create")
@using (Html.BeginForm(FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <input type="submit" value="Add" formmethod="@Url.Action("Create", "Doctor")" />
}

