@model DonareSange.Models.Donation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passedTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passedTests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trombocite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trombocite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plasma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plasma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.globule_rosii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.globule_rosii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Centre.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Centre.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
