
@model DonareSange.Models.IndexViewModel


@{
    ViewBag.Title = "Manage";
    ViewBag.UserType = Convert.ToString(Session["type"]);
}

<h2>@ViewBag.Title.</h2>
<p>@Model.Id</p>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <p>Your are a @ViewBag.UserType</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                <a href="@Url.Action("ChangePassword")">Change password</a>
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Set personal details:</dt>
        @if (ViewBag.UserType == "DONOR")
        {
            <dd>
                @Html.ActionLink("Edit", "DonorPersonalDetails", new { token = Model.Id, type = Model.UserType })
            </dd>
        }
        else if (ViewBag.UserType == "DOCTOR")
        {
            <dd>
                <a class="btn-link" href="#">Edit</a>
            </dd>
        }
        else if (ViewBag.UserType == "STAFF")
        {
            <dd>
                <a class="btn-link" href="#">Edit</a>


            </dd>
        }
        else
        {
            <dd>
                <a class="btn-link" href="#">Edit</a>

            </dd>
        }

    </dl>
</div>

