
@model DonareSange.Models.IndexViewModel


@if (Model.UserType == "DONOR")
            {
                <nav class="navbar navbar-inverse">
                    <div class="container-fluid">



                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Donors", new { type=Model.UserType })"> Doneaza </a></li>
                            <li><a href="@Url.Action("Index", "Donations", new { type=Model.UserType })">My Donations </a> </li>

                        </ul>

                    </div>
                </nav>
            }
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <p>@Model.UserType</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
