
@model DonareSange.Models.IndexViewModel


@if (Model.UserType == "DONOR")
{
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">



            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Donors", new { type=Model.UserType, token = Model.Id })"> Doneaza </a></li>
                <li><a href="@Url.Action("Index", "Donations", new { type=Model.UserType, token = Model.Id })">My Donations </a> </li>

            </ul>

        </div>
    </nav>
}
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>
<p>@Model.Id</p>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <p>@Model.UserType</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            <a href="@Url.Action("ChangePassword",new { type = Model.UserType, token = Model.Id})">Change password</a>
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
}
            ]
        </dd>
        
        <dt>Set personal details:</dt>
        <dd>
            @Html.ActionLink("Edit", "DonorPersonalDetails", new { token = Model.Id , type = Model.UserType})
        </dd>

    </dl>
</div>

