@model DonareSange.Models.BloodRequest

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BloodRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trombocite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trombocite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plasma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plasma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.globule_rosii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.globule_rosii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacientCNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacientCNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Centre.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Centre.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
