@model IEnumerable<DonareSange.Models.BloodRequest>

@{
    ViewBag.Title = "Cereri de sange";
}


<br>
<div>
    <p><a href="@Url.Action("Create", "BloodRequests")" class="btn btn-primary btn-lg" style="background-color:red">Cere sange</a></p>
</div>
<br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trombocite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plasma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.globule_rosii)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacientCNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centre.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clinic.name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trombocite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.plasma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.globule_rosii)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacientCNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Centre.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clinic.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BloodRequestId }) |
                @Html.ActionLink("Detalii", "Detalii", new { id = item.BloodRequestId }) |
                @Html.ActionLink("Sterge", "Sterge", new { id = item.BloodRequestId })
            </td>
        </tr>
    }

</table>
